@import 'colors';

.container {
	padding: 100px 150px 200px 150px;
	display: flex;
	flex-direction: column;
	gap: 50px;

	.toolbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.right {
			color: $gold;
			font-size: 24px;
		}
	}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.top {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}
		.top > :first-child {
			width: 59.5%;
		}
		.top > :nth-child(2) {
			width: 39.5%;
		}
		.others {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}
		.others > :nth-child(n + 1) {
			width: 33%;
		}
	}
}

@media screen and (max-width: 996px) {
	.container {
		padding: 50px 20px 100px 20px;
		gap: 10px;
		.toolbar {
			.left {
				font-size: 24px;
			}
			.right {
				font-size: 16px;
			}
		}
		.cards {
			.top,
			.others {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			.top > :first-child {
				width: 100%;
			}
			.top > :nth-child(2) {
				width: 100%;
			}
			.others > :nth-child(n + 0) {
				width: 100%;
			}
		}
	}
}
